<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TutorialCOM.Properties.Settings.ConnectionString"
            connectionString="Dsn=PLC_SQL;uid=PLC" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>